*{
    margin: 0;
    padding: 0;
}
.container{
    .navbar{
        background-color: lightgray;
        padding-top: 10px;
        height: 5vh;
        display: flex;
        /* gap: 5px; */
        justify-content: space-around;
        align-items: center;
        #icon{
            /* text-decoration: none; */
            font-size: 30px;
            /* color: darkcyan; */
        }
        a{
            text-decoration: none;
            font-size: 25px;
            text-transform: capitalize;
            color: darkcyan;
            /* color-scheme: inherit; */
            /* gap: 0px; */

        }
    }
    .content{
        padding: 20px;
        height: 92vh;
        background-color: lightblue;
        height: auto;
        display: flex;
        justify-content: center;
        .mydata{
            /* display: flex; */
            /* justify-content: center; */
            /* align-items: center; */
            text-transform: capitalize;
            font-size: medium;
            color: black;
            font-family: 'Courier New', Courier, monospace;
            text-align: justify;

            i{
                font-size: 30px;
                padding-top: 20px;
            }
            a{
                color: black;
            }
            .buttons{
                margin-top: 20px;
                button{
                    font-size: 20px;
                    text-transform: capitalize;
                    padding: 10px;
                    margin-right: 20px;
                    border-radius: 10px;
                    border: none;
                    cursor: pointer;
                    background-color: darkcyan;
                    color: white;
                    a{
                        text-decoration: none;
                        color: white;
                    }
                    
                }
            }
        }
        .images{
            margin-left: 50px;
            border-radius: 30px;
            /* width: 200px; */
        }

        
    }
}
.about{
    padding: 20px;
    height: 100vh;
    background-color: darkcyan;
    color : white;
    font-size: medium;
    text-transform: capitalize;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    
    
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: end;
    /* margin-top: 20px; */
    background-color: aquamarine;
    background-image: url(https://plus.unsplash.com/premium_vector-1759855618452-c994fe300b89?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bG9naW4lMjBpbWFnZXN8ZW58MHx8MHx8fDA%3D);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    padding-right: 200px; 
     height: 100vh;
     align-items: end;
    .detail{
        h1{
            text-align: justify;
            margin-bottom: 20px;
            text-transform: capitalize;
        }
        #name{
            border-radius: 10px;
            text-transform: capitalize;
            font-size: 20px;
            padding: 10px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
         #tel{
            border-radius: 10px;
            text-transform: capitalize;
            font-size: 20px;
            padding: 10px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        #email{
            border-radius: 10px;
            text-transform: capitalize;
            font-size: 20px;
            padding: 10px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        #text{
            border-radius: 10px;
            text-transform: capitalize;
            font-size: 20px;
            padding: 10px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        button{
            border-radius: 10px;
            background-color: aqua;
            font-size: 20px;
            padding: 10px;
            color: cornflowerblue;
        }
        
    }
}

.services{
    margin-top: 20px;
    background-color: aquamarine;
    background-image: url(https://images.unsplash.com/photo-1738165170747-ec6e3a4d97c?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDI2fGJvOGpRS1RhRTBZfHxlbnwwfHx8fHw%3D);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    div{
        /* display:flex; */
        /* justify-content: center; */
        /* align-items: center; */

        #h1{
        text-transform: capitalize;
        font-size: 30px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: darkkhaki;
        text-align: justify;
       
    }
    #para1{
        text-align: justify;
        font-size: 25px;
        padding-bottom: 20px;
        padding-right: 10px;
    }

    }
    
    div{
        
    
    #h12{
        text-transform: capitalize;
        font-size: 30px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: darkkhaki;
        text-align: justify;
    }
     #para2{
        text-align: justify;
        font-size: 25px;
        padding-bottom: 20px;
        padding-right: 10px;
    }
}
   
}

.braoi{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    background-image: url(https://images.unsplash.com/vector-1755092055517-0b0f2308e72d?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Njl8fHRoYW5rJTIweW91JTIwZm9yJTIwYmFja2dyb3VuZCUyMGltYWdlfGVufDB8fDB8fHww);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    .thank{
        text-transform: capitalize;
        font-size: 40px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        

    }
}